* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.cardCenoura{
    border-top: 1px solid white;
    border-bottom: 1px solid white;;
    margin: 50px auto;
    height: 550px;
    width: 100%;
    background-color: black;
    display: flex;  
    align-items: center;
}

.imagemBolo {
    margin: auto;
    height: 500px;
    width: 35%;
    background-color: blueviolet;
}

.descriçãoBolo{
    margin: auto;
    height: 500px;
    width: 60%;
    background-color: blue;
}

img {
    border-radius: 10px;
    display: flex;
    align-items: center;
}

h2 {
    margin-top: 5px;
    margin-left: 5px;
    color: white;
    margin-bottom: 10px;
}

p{
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify;
    color: white;
    
}