*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: greenyellow;
}

.container{
    padding: 10px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 60%;
}

.card1{
    background-color: white;
    height: 80%;
    width: 40%;
}

.card2{
    background-color: white;
    height: 80%;
    width: 40%;
}
