*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.container{
    flex-wrap: wrap;

    border-radius: 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 70%;
}

.card1{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
    width: 60%;
    border: 3px solid blue;
}

.img_login{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
    width: 100%;
}


.card2{
    display: flex;
    flex-direction: column;
    margin: auto;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: blue;
    border: 2px solid white;
    height: 100%;
    width: 40%;
}

h1{
    color: white;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}

p, h3{
    color: white;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: start;
}

input{
    font-size: 15px;
    padding-left: 8px;
    background-color: grey;
    color: white;
    color: white;
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 10px;
    width: 70%;
    height: 5%;
    border: 1px solid black;
    border-radius: 5px;
}

input:hover{
    background-color: white;
    color: black;
}

button{
    font-size: 15px;
    margin: 20px auto;
    color: white;
    background-color: black;
    border-radius: 8px;
    border: 2px solid white;
    width: 60%;
    height: 6%;

}

button:hover{
    cursor: pointer;
    font-size: 18px;
    color: blue;
    background-color: white;
    border-radius: 8px;
    border: 2px solid black;
    width: 70%;
    height: 7%;
    transition: .2s;
}
