body{
    background-color: rgb(255, 254, 254);
}

.profile-container{
    text-align: center;
    
}

.profile-pic{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    border: 4px solid white;
    margin: auto;
    display: block; /* Faz com que a imagem se comporte como um bloco */
    margin-left: auto; /* Centraliza a imagem */
    margin-right: auto; /* Centraliza a imagem */

    
}