* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    
}

.card1{
    background-color: black;
    height: auto;
    border-bottom: 2px solid white;
}

h1 {
    text-align: center;
    color: white
}

.button1{
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    background-color: blue;
    margin-bottom: 5px;
    margin-left: 5px;
    border: none 
}
.button1:hover{
    background-color: rgb(100, 216, 245);
}

.card2{
    border-radius: 10px;
    border: none;
    margin: 10px auto;
    height: 500px;
    width: 80%;
    background-color: blue;
}

.card3{
    border-top: 2px solid white;
    height: 55.49px;
    background-color: black;
}